.button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.with-black-background {
    background: black;
    color: white;
}

.with-yellow-background {
    background-color: yellow;
}
